# **IMPORTING LIBRARIES**

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import scipy as sp
import plotly.express as px

In [ ]:
data=pd.read_csv('/content/List of Countries by number of Internet Users - Sheet1 2.csv')
data

,Country or Area,Internet Users,Population,Rank,Percentage,Rank.1
0,China,"765,367,947","1,409,517,397",1,54.30%,116
1,India,"461,347,554","1,339,180,127",2,34.45%,145
2,United States,"244,090,854","324,459,463",3,75.23%,68
3,Brazil,"141,206,801","209,288,278",4,67.47%,83
4,Japan,"115,845,120","127,484,450",5,90.87%,23
...,...,...,...,...,...,...
210,Falkland Islands,"2,881","2,910",211,99.02% (2016),-
211,Montserrat,"2,833","5,177",212,54.55% (2013),115
212,Wallis and Futuna,"1,383","11,773",213,8.95% (2012),-
213,Niue,"1,034","1,618",214,86.90% (2013),30
214,Ascension,361,806,215,41.03% (2012),-

# **UNDERSTANDING DATA**

**1. BASIC CHECKING**

READ MAXIMUM ROWS AND COLUMNS IN NUMBER

In [ ]:
pd.set_option('display.max.rows', 213)
pd.set_option('display.max.columns', 7)

DATA INFORMATION

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  215 non-null    object
 1   Internet Users   215 non-null    object
 2   Population       215 non-null    object
 3   Rank             215 non-null    int64
 4   Percentage       215 non-null    object
 5   Rank.1           215 non-null    object
dtypes: int64(1), object(5)
memory usage: 10.2+ KB

DATA SHAPE

In [ ]:
data.shape

(215, 6)



   READ FIRST 5 ROWS

In [ ]:
data.head(5)

  Country or Area Internet Users     Population  Rank Percentage Rank.1
0           China    765,367,947  1,409,517,397     1     54.30%    116
1           India    461,347,554  1,339,180,127     2     34.45%    145
2   United States    244,090,854    324,459,463     3     75.23%     68
3          Brazil    141,206,801    209,288,278     4     67.47%     83
4           Japan    115,845,120    127,484,450     5     90.87%     23




  READ LAST 5 ROWS

In [ ]:
data.tail(10)

,Country or Area,Internet Users,Population,Rank,Percentage,Rank.1
205,British Virgin Islands,"14,456","31,196",206,37.60% (2012),141
206,Anguilla,"12,043","14,909",207,81.57% (2016),44
207,Nauru,"6,475","11,359",208,57.00%,110
208,Tuvalu,"5,520","11,192",209,49.32%,124
209,Saint Helena,"2,906","4,534",210,37.60% (2012),-
210,Falkland Islands,"2,881","2,910",211,99.02% (2016),-
211,Montserrat,"2,833","5,177",212,54.55% (2013),115
212,Wallis and Futuna,"1,383","11,773",213,8.95% (2012),-
213,Niue,"1,034","1,618",214,86.90% (2013),30
214,Ascension,361,806,215,41.03% (2012),-

DATA TYPES

In [ ]:
data.dtypes

Country or Area    object
Internet Users     object
Population         object
Rank                int64
Percentage         object
Rank.1             object
dtype: object

SEE NUMERIC COLUMNS

In [ ]:
pd.set_option('display.max_columns',None)
data.head()

  Country or Area Internet Users     Population  Rank Percentage Rank.1
0           China    765,367,947  1,409,517,397     1     54.30%    116
1           India    461,347,554  1,339,180,127     2     34.45%    145
2   United States    244,090,854    324,459,463     3     75.23%     68
3          Brazil    141,206,801    209,288,278     4     67.47%     83
4           Japan    115,845,120    127,484,450     5     90.87%     23

SEE NULL VALUES

In [ ]:
data.isnull().sum().sort_values(ascending=False)

Country or Area    0
Internet Users     0
Population         0
Rank               0
Percentage         0
Rank.1             0
dtype: int64

SEE DUPLICATED DATA

In [ ]:
data[data.duplicated(keep=False)]

Empty DataFrame
Columns: [Country or Area, Internet Users, Population, Rank, Percentage, Rank.1]
Index: []

SEE DUPLICATE VALUES COUNT IN NUMBER

In [ ]:
data.duplicated().sum()

0



SEE ALL COLUMN LABELS OF DATASET

In [ ]:
data.columns

Index(['Country or Area', 'Internet Users', 'Population', 'Rank', 'Percentage',
       'Rank.1'],
      dtype='object')



  DESCRIPTIVE STATISTICS SUMMARY

In [ ]:
data.describe()

             Rank
count  215.000000
mean   108.000000
std     62.209324
min      1.000000
25%     54.500000
50%    108.000000
75%    161.500000
max    215.000000

GET THE COUNT OF UNIQUE VALUES IN DESCENDING ORDER

In [ ]:
print(data['Country or Area'].value_counts())

China          1
South Sudan    1
Chad           1
Togo           1
Cyprus         1
              ..
Mozambique     1
Cuba           1
Cameroon       1
Denmark        1
Ascension      1
Name: Country or Area, Length: 215, dtype: int64